<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>ChatGLM Demo</title>
    <style>
      #topnav {
        background-color: #000;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    </style>
  </head>
  <body>

  <div id="topnav" class="container-fluid">
    <h1>Demo Chat — ChatGLM + LoRA</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <div id="content">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block myjavascript %}{% endblock %}
  </body>
</html>
